<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">Get in touch</h2>
            <p>Tell us anything you want :D </p>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <ul class="contact">
                        <li class="icon solid fa-home">XCentrica<br />Somewhere in Romania</li>
                        <li class="icon solid fa-phone">(+40) 731234567</li>
                        <li class="icon solid fa-envelope"><a href="#">information@XCentrica.inc</a></li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium">
                    <ul class="contact">
                        <li class="icon brands fa-twitter"><a href="#">twitter.com/XCentrica</a></li>
                        <li class="icon brands fa-facebook-f"><a href="#">facebook.com/XCentrica</a></li>
                        <li class="icon brands fa-instagram"><a href="#">instagram.com/XCentrica</a></li>
                    </ul>
                </div>
            </div>
            <ul class="copyright">
                <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>


    <!-- Scripts -->

    <script src="http://localhost:8080/assets/js/jquery.min.js"></script>
    <script src="http://localhost:8080/assets/js/jquery.scrollex.min.js"></script>
    <script src="http://localhost:8080/assets/js/browser.min.js"></script>
    <script src="http://localhost:8080/assets/js/breakpoints.min.js"></script>
    <script src="http://localhost:8080/assets/js/util.js"></script>
    <script src="http://localhost:8080/assets/js/main.js"></script>
</div>