<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Customer Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css"  th:href="@{/assets/css/main.css}" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css"  th:href="@{/assets/css/noscript.css}"  /></noscript>
</head>

<body class="is-preload">

<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/welcome">XCentrica</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="/welcome">Home</a></li>
                <li><a href="/contact/form">Contact</a></li>
                <li><a href="/contact/myCases">My Cases</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon solid fa-home"></span></div>
            <h2 th:text="${case.getSubject()}"></h2>
            <p th:text="${'Status: ' + case.getJiraStatus()}"></p>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">
        <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <section>
                        <div class="row gtr-uniform">
                            <div class="col-4 col-12-xsmall">
                                <label>Priority</label>
                                <p th:text="${case.getPriority()}"></p>
                            </div>
                            <div class="col-4 col-12-xsmall">
                                <label>Type</label>
                                <p th:text="${case.getType()}"></p>
                            </div>
                            <div class="col-4 col-12-xsmall">
                                <label>Category</label>
                                <p th:text="${case.getCategory()}"></p>
                            </div>
                            <div class="col-12">
                                <label>Description</label>
                                <p th:text="${case.getDescription()}"></p>
                            </div>
                            <div class="col-12">
                                <label>Case Comments</label>
                                <ul class="alt" th:each="comment : ${case.getComments()}">
                                    <li th:text="${comment.getAuthor() + ' at ' + comment.getCommentTime()
                                     + ' said: ' + comment.getText()}"></li>
                                </ul>
                            </div>

                        </div>
                </section>
            </div>
        </div>
    </section>
    <div th:replace="fragments/footerFragment :: footer"></div>
</div>
</body>
</html>